<div class="message">
  <%= t('.name_html', name: chat.user_name, color: chat.color) %>
  <%= chat.room.name unless chat.room_id == room.try(:id) %>
  <span class="content"><%= t('.content_html', content: chat.content, color: chat.color) %></span>
  <time><%= chat.created_at.strftime(t('date.long')) %></time>
</div>
